@font-face {
  font-family: AcherusGrotesque;
  src: url(fonts/AcherusGrotesque-Regular.otf);
}
@font-face {
  font-family: CodePro;
  src: url(fonts/Code\ Pro\ LC.otf);
}

:root {
  --primary-color: #27baea;
  --secondary-color: #231f1f;
  --large-padding: 3rem;
  --small-padding: 1rem;
  --code-pro-font: "CodePro", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --acherus-grotesque-font: "AcherusGrotesque", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--code-pro-font);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  position: relative;
}

header {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}

menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 var(--large-padding);
}

menu ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 0 1rem;
  list-style-type: none;
  color: white;
}
menu > div {
  margin-left: auto;
}

menu li {
  cursor: pointer;
}

menu a {
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

header:not(.sidenav) menu ul:first-child a {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.516);
}

menu .logo {
  margin-right: auto;
}

menu .logo img {
  width: 18rem;
}

menu .btn a {
  background-color: var(--primary-color);
  border-radius: 10px;
  margin: 0.25rem 0.5rem;
}

menu .btn:first-child {
  margin-left: auto;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: -webkit-fill-available;
  overflow: hidden;
}

.hero .hero-video {
  background-color: rgb(40, 40, 40);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  z-index: -1;
}
.hero .hero-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero article {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 7rem;
  color: white;
}

.hero article h1 {
  margin: 0;
}

.hero article h1.first {
  font-size: 6rem;
  font-weight: 100;
}

.hero article span {
  color: var(--primary-color);
}
header.sidenav {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  width: 100%;
  height: 100vh;
  min-height: --webkit-fill-available;
  background-color: white;
  right: 0;
  transform: scale(1, 1);
  transition: 250ms ease-in-out;
}
header.sidenav.hidden {
  transform: scale(0, 0);
  right: -100%;
}
header.sidenav menu > a {
  text-align: center;
  margin: 5rem 0 2rem;
  flex: 100%;
}
.sidenav ul {
  flex-flow: column;
}
.sidenav ul li {
  margin: 0.75rem;
}
.sidenav ul a {
  color: black;
}
.sidenav ul .btn a {
  color: white;
}
#close-sidenav {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}
#close-sidenav img {
  max-width: 2.5rem;
}
#open-sidenav {
  display: none;
}
#open-sidenav img {
  max-width: 2rem;
  margin-right: 1rem;
}

.start {
  background-color: white;
  position: relative;
  z-index: 1;
  padding: var(--large-padding);
  background-color: white;
}

section.start .flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
}

.start .flex article,
.start .flex .youtube {
  flex: 50%;
}

.start h1 {
  font-size: 2.5rem;
  font-family: var(--acherus-grotesque-font);
}
.start h1:first-child {
  margin-bottom: 0.5rem;
}
.start h1.primary {
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 5rem;
}
.start p {
  font-family: var(--acherus-grotesque-font);
  font-size: 1.5rem;
}
.start .youtube {
  display: flex;
  justify-content: center;
  align-items: center;
}
.start .youtube .video {
  position: relative;
  width: 25rem;
  height: calc(25rem * 9 / 16);
  transform: translate(0, 25%);
}
.start .youtube .video::after {
  position: absolute;
  content: "";
  height: 100%;
  aspect-ratio: 1/1;
  background: white url(assets/dot.png) repeat center;
  transform: translate(100%, -25%);
  z-index: -1;
}
.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.center-btn {
  margin-top: 7rem;
  margin-bottom: 2rem;
  text-align: center;
}
.center-btn .btn {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.primary-color {
  color: var(--primary-color);
}

.steps {
  background-color: white;
  padding: var(--large-padding);
}
.steps * {
  font-family: var(--acherus-grotesque-font);
}
.steps h1 {
  font-size: 2.5rem;
}
.steps .flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.steps .flex .column {
  max-width: 350px;
}
.steps .flex h1 {
  font-size: 2rem;
  margin-bottom: 0;
}
.steps .flex h1:nth-child(2) {
  margin-top: 0;
  margin-bottom: 3rem;
  font-weight: 100;
}
.steps .flex p {
  font-size: 1.5rem;
}

.details {
  background-color: white;
  padding: var(--large-padding);
}
.details * {
  font-family: var(--acherus-grotesque-font);
}

.details h1 {
  font-size: 3rem;
}
.details p {
  font-size: 1.5rem;
}
.details .quote {
  font-weight: bold;
  font-size: 2rem;
  margin: 4rem auto;
  max-width: 70%;
}

footer {
  background-color: var(--secondary-color);
  color: white;
  padding: var(--large-padding);
}
footer * {
  font-family: var(--acherus-grotesque-font);
}

footer .flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap;
}
footer .flex .column {
  padding: 0.5rem;
  min-width: 200px;
  max-width: 300px;
}
footer .flex h1 {
  margin: 3rem 0;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer ul li {
  font-size: 1.25rem;
}
footer ul li a {
  text-decoration: none;
  font-weight: lighter;
  color: white;
}
footer .social {
  margin-top: 10rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
footer .social ul {
  display: flex;
  flex-flow: row nowrap;
}
footer .social li a {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: 250ms ease-in;
  margin: 0.25rem;
}
footer .social li:hover a {
  opacity: 1;
}
footer .social li img {
  width: 1.25rem;
}
footer .copy {
  font-family: var(--code-pro-font);
  font-weight: bolder;
  color: gray;
  text-align: center;
}
footer .links * {
  font-family: var(--code-pro-font);
  font-size: 1.1rem;
}
footer .links ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
footer .links a {
  padding: 0 0.25rem;
  font-weight: bolder;
}
footer .to-top {
  text-align: right;
  margin: 1.5rem 0;
}
footer .to-top a {
  font-size: 1.1rem;
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
  text-align: center;
  transform: rotateZ(45deg);
  background-color: var(--primary-color);
  opacity: 0.75;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: 250ms ease-in;
}
footer .to-top a:hover {
  opacity: 1;
}
footer .to-top a span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2.5px solid var(--secondary-color);
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: translate(0.15rem, 1rem);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .start .youtube .video {
    overflow: hidden;
  }
  .start,
  .steps,
  .details,
  footer {
    padding: var(--small-padding);
  }
  menu {
    padding: 0 var(--small-padding);
  }
  .hero article {
    font-size: 4rem;
  }
  .hero article h1.first {
    font-size: 3rem;
  }
  menu .logo img {
    width: 15rem;
  }
  .main-header {
    display: none;
  }
  #open-sidenav {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .start .youtube .video {
    overflow: hidden;
  }
  .start,
  .steps,
  .details,
  footer {
    padding: var(--small-padding);
  }
  menu {
    padding: 0 var(--small-padding);
  }
  .hero article {
    font-size: 5rem;
  }
  .hero article h1.first {
    font-size: 4rem;
  }
  .main-header {
    display: none;
  }
  #open-sidenav {
    display: block;
  }
}
